.main{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    scrollbar-width: none;
}

.toggle-container {
    position: absolute;
    top: 40px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 200px; 
    height: 40px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  .slider-label {
    position: absolute;
    left: 15%;
    right: 5%;
    text-align: center;
    width: 70%;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider:before {
    transform: translateX(160px); 
  }






  .options{
    position: absolute;
    top: 120px;
    width: 100vw;
  }
  .sharedOptions{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
  }
  .clip{
    background-color: #ccc;
    width: 20vw;
    padding:10px;
    text-align: center;
    border-radius: 20px;
  }
  .clipThreeDot{
    background-color: #ccc;
    width: 10px;
    padding:10px;
    text-align: center;
    border-radius: 20px;
  }
  .contentArea{
    margin-top: 10vh;
    width: 100vw;
    height: 90vh;
    background-attachment: fixed;
    overflow: auto;
    scrollbar-width: none;
  }
  
.contentArea::-webkit-scrollbar {
  display: none;
}
  